# ⚠️ File sensibili
secrets.yaml
.secrets.yaml.swp

# 🔑 Chiavi SSH e autenticazione
.ssh/
.ip_authenticated.yaml
ip_bans.yaml

# 🧠 File del database e backup
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db
*.db-shm
*.db-wal

# 📝 Log
home-assistant.log
home-assistant.log.*
home-assistant.log.fault
*.log
*.log.1
*.sqlite

# ⚙️ Cartelle temporanee e compilate
__pycache__/
*.pyc

# 📦 Dipendenze interne
deps/
*.egg-info/

# 🧠 Config di HACS
.custom_components/
.hacs/
hacsfiles/

# ⚙️ Config di ESPHome
/esphome/.esphome/

# 🔒 Altri file locali o temporanei
.storage/
.cloud/
.ipynb_checkpoints/
.vscode/
.idea/
*.tar
*.tar.gz
*.zip
*.swp
*.bak
*.tmp

# 🔐 Lock e file di runtime
.ha_run.lock

# 📻 Z-Wave e Zigbee (file temporanei e config locali)
zigbee.db-shm
zigbee.db-wal
pyozw.sqlite
zwcfg_*.xml
zwscene.xml
OZW_Log.txt

# 📦 TTS cache
tts/

# 🧪 Test locali o file da evitare nel repo
test/
tests/
config/.DS_Store
.DS_Store

# Backup & media pesanti
backups/
media/