# ⚠️ File sensibili
secrets.yaml
.secrets.yaml.swp

# 🧠 File del database e backup
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db
*.db-shm
*.db-wal

# 📝 Log
home-assistant.log
home-assistant.log.*
*.log
*.log.1
*.sqlite

# ⚙️ Cartelle temporanee e compilate
__pycache__/
*.pyc

# 📦 Dipendenze interne
deps/
*.egg-info/

# 🧠 Config di HACS
.custom_components/
.hacs/
hacsfiles/

# ⚙️ Config di ESPHome
/esphome/.esphome/

# 🔒 Altri file locali o temporanei
.storage/
.cloud/
.ipynb_checkpoints/
.vscode/
.idea/
*.tar
*.tar.gz
*.zip
*.swp
*.bak
*.tmp

# 🧪 Test locali o file da evitare nel repo
test/
tests/
config/.DS_Store

# Backup & media pesanti
backups/
media/