homeassistant:
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages
  unit_system: metric
  time_zone: "Europe/Rome"
  external_url: "https://chezannamax.net"
  allowlist_external_dirs:
    - '/tmp'

alarm_control_panel:
  - platform: manual
    name: Allarme
    code: 1720
    arming_time: 30
    delay_time: 20
    trigger_time: 300

automation: !include automations.yaml

bluetooth:

camera:

# Raspberry Pi Cooling Fan

climate:
  - platform: generic_thermostat
    name: RPI Cooling Fan Controller
    heater: switch.rpi_cooling_fan
    target_sensor: sensor.cpu_temperature
    min_temp: 55
    max_temp: 80
    ac_mode: true
    target_temp: 55
    cold_tolerance: 0.1
    hot_tolerance: 0.1
    min_cycle_duration:
      seconds: 30
    keep_alive:
      minutes: 5
    initial_hvac_mode: "cool"

command_line:
  - sensor:
      name: CPU Temperature
      command: "cat /sys/class/thermal/thermal_zone0/temp"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "°C"
      value_template: "{{ value | multiply(0.001) | round(1) }}"

config:

counter:
  error_counter:
    name: Errors

  daily_vacuum:
    initial: 0
    step: 1
    restore: true
    icon: mdi:counter

default_config:

dialogflow:

ffmpeg:

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /community/custom-sidebar/custom-sidebar.js

group: !include groups.yaml

history:

http:
  cors_allowed_origins:
    - https://cast.home-assistant.io
  ip_ban_enabled: True
  login_attempts_threshold: 5
  use_x_forwarded_for: true     # To ensure HA understands that client requests come via reverse proxy
  trusted_proxies:
    - 172.30.32.0/23            # In Home Assistant we need to add the Docker subnet

ifttt:
  key: !secret ifttt

input_boolean:
  holiday:
    name: Vai in vacanza
    icon: mdi:airplane-takeoff
  cleaning_lady:
    name: Oggi c'è la Donna delle Pulizie
    icon: mdi:spray-bottle
  tende_automatiche:
    name: Tende Automatiche
    icon: mdi:auto-fix
  the_sub:
    name: The Sub ON
    icon: mdi:beer

input_datetime:
  cleaning_lady_starttime:
    name: Ora inizio Donna delle Pulizie
    has_date: true
    has_time: true
  riscaldamento_on:
    name: Avvio Riscaldamento
    has_date: true
    has_time: false
    icon: mdi:console-network
  riscaldamento_off:
    name: Chiusura Riscaldamento
    has_date: true
    has_time: false
    icon: mdi:console-network-outline

input_number:
  tende_rad_min:
    name: Tende - Radiazione minima (W/m²)
    min: 0
    max: 1200
    step: 10
    unit_of_measurement: "W/m²"
    icon: mdi:white-balance-sunny
    initial: 300      # sotto questo valore non si estende

  tende_rad_max:
    name: Tende - Radiazione massima (W/m²)
    min: 200
    max: 1200
    step: 10
    unit_of_measurement: "W/m²"
    icon: mdi:white-balance-sunny
    initial: 800      # oltre questo valore = estensione massima

  tende_pos_min:
    name: Tende - Estensione minima (%)
    min: 0
    max: 100
    step: 1
    unit_of_measurement: "%"
    icon: mdi:arrow-expand-horizontal
    initial: 20       # se vuoi “tutto su” quando scatta, metti 0

  tende_pos_max:
    name: Tende - Estensione massima (%)
    min: 50
    max: 100
    step: 1
    unit_of_measurement: "%"
    icon: mdi:arrow-expand-horizontal
    initial: 95

ios:

logbook:

logger:
  default: debug
  logs:
    miflora: debug
    btlewrap: debug
    bluepy: debug
    homeassistant.components.zha: debug
    zigpy: debug
    zhaquirks: debug

lovelace:

#map:

media_player:

mobile_app:

notify:

plant:
  Dracaena Warnickii:
    sensors:
      moisture: sensor.ble_moisture_dracaena_warneckii
      temperature: sensor.ble_temperature_dracaena_warneckii
      conductivity: sensor.ble_conductivity_dracaena_warneckii
      brightness: sensor.ble_illuminance_dracaena_warneckii
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 200
    max_conductivity: 1500
    min_temperature: 10
    max_temperature: 35
    min_brightness: 2000
    max_brightness: 50000

  Dracaena Marginata:
    sensors:
      moisture: sensor.ble_moisture_dracaena_marginata
      temperature: sensor.ble_temperature_dracaena_marginata
      conductivity: sensor.ble_conductivity_dracaena_marginata
      brightness: sensor.ble_illuminance_dracaena_marginata
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 1500
    max_brightness: 6000

  Zamioculcas:
    sensors:
      moisture: sensor.ble_moisture_zamioculcas
      temperature: sensor.ble_temperature_zamioculcas
      conductivity: sensor.ble_conductivity_zamioculcas
      brightness: sensor.ble_illuminance_zamioculcas
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 600
    max_brightness: 20000
    
  Zamioculcas Zamiifolia:
    sensors:
      moisture: sensor.ble_moisture_zamioculcas_zamiifolia
      temperature: sensor.ble_temperature_zamioculcas_zamiifolia
      conductivity: sensor.ble_conductivity_zamioculcas_zamiifolia
      brightness: sensor.ble_illuminance_zamioculcas_zamiifolia
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 600
    max_brightness: 20000

  Zantedeschia:
    sensors:
      moisture: sensor.ble_moisture_zantedeschia
      temperature: sensor.ble_temperature_zantedeschia
      conductivity: sensor.ble_conductivity_zantedeschia
      brightness: sensor.ble_illuminance_zantedeschia
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 12
    max_temperature: 30
    min_brightness: 3000
    max_brightness: 50000
    
  Aloe Vera:
    sensors:
      moisture: sensor.ble_moisture_aloe_vera
      temperature: sensor.ble_temperature_aloe_vera
      conductivity: sensor.ble_conductivity_aloe_vera
      brightness: sensor.ble_illuminance_aloe_vera
    min_moisture: 7
    max_moisture: 50
    min_conductivity: 300
    max_conductivity: 1000
    min_temperature: 8
    max_temperature: 35
    min_brightness: 3000
    max_brightness: 70000

person:

recorder:
  purge_keep_days: 5
  db_url: !secret mariadb_url
  exclude:
    domains:
      - updater
      - script
    entity_globs:
      - sensor.weather_*
    entities:
      - sun.sun # Don't record sun data
      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
      - call_service # Don't record service calls

rest_command:
  n8n_new_device:
    url: "http://localhost:8081/webhook/new-device"
    method: POST
    headers:
      Content-Type: "application/json"
    payload: >
      {
        "name": "{{ name }}",
        "mac": "{{ mac }}",
        "ip": "{{ ip }}"
      }


scene: !include scenes.yaml

script: !include scripts.yaml

sensor:
  - platform: filter
    name: Solar Radiation (SMA)
    entity_id: sensor.ilegna18_solar_radiation
    filters:
      - filter: time_simple_moving_average
        window_size: "00:05:00"   # media degli ultimi 5 minuti
        precision: 0              # arrotonda all'intero

shell_command:
  git_commit_push: >-
    bash -c 'cd /config &&
    git add -A &&
    if ! git diff --cached --quiet; then
      git -c user.name="HA Bot" -c user.email="ha@local"
      commit -m "Auto backup: {{ now().strftime("%Y-%m-%d %H:%M") }}"; 
      git push origin main;
    else
      echo "No changes to commit";
    fi'


spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

switch:
#  - platform: dlink
#    host: !secret dlink_ip
#    username: !secret dlink_user
#    password: !secret dlink_pwd
  - platform: remote_rpi_gpio
    host: 192.168.0.44
    ports:
      18: RPI Cooling Fan

stream:

sun:

system_health:

system_log:
  fire_event: true

template:
  - sensor:
      - name: "tende_posizione_desiderata"
        unit_of_measurement: "%"
        state: >
          {% set rad = states('sensor.solar_radiation_sma')|float(0) %}
          {% set elev = state_attr('sun.sun','elevation')|float(-90) %}
          {% set azi  = state_attr('sun.sun','azimuth')|float(0) %}
          {% set fac_min = 110 %}
          {% set fac_max = 260 %}
          {% set rmin = states('input_number.tende_rad_min')|float(300) %}
          {% set rmax = states('input_number.tende_rad_max')|float(800) %}
          {% set pmin = states('input_number.tende_pos_min')|float(20) %}
          {% set pmax = states('input_number.tende_pos_max')|float(95) %}
          {% if elev < 5 or azi < fac_min or azi > fac_max %}
            0
          {% else %}
            {% if rad <= rmin %}
              0
            {% elif rad >= rmax %}
              {{ pmax|round(0) }}
            {% else %}
              {% set ratio = (rad - rmin) / (rmax - rmin) %}
              {{ (pmin + ratio * (pmax - pmin))|round(0) }}
            {% endif %}
          {% endif %}
          
  - binary_sensor:
    - device_class: cold
      default_entity_id: binary_sensor.riscaldamento
      name: Riscaldamento
      state: '{{ now().timestamp() >= states.input_datetime.riscaldamento_on.attributes.timestamp | int and now().timestamp() <= states.input_datetime.riscaldamento_off.attributes.timestamp | int }}'
          
# Text to speech
tts:
  - platform: google_translate
    language: 'it'

zha:
  custom_quirks_path: /config/custom_zha_quirks/

zone:
  - name: Ronzoni
    latitude: !secret ronzoni_lat
    longitude: !secret ronzoni_long
    radius: 100
    icon: mdi:chemical-weapon

  - name: Home
    latitude: !secret home_lat
    longitude: !secret home_long
    radius: 100
    icon: mdi:home