homeassistant:
  # Customization file
  customize: !include customize.yaml
  packages: !include_dir_named packages
  unit_system: metric
  time_zone: "Europe/Rome"
  external_url: "https://chezannamax.net"
  allowlist_external_dirs:
    - '/tmp'

automation: !include automations.yaml

binary_sensor:
  - platform: template
    sensors:
      riscaldamento:
        friendly_name: "Riscaldamento"
        device_class: cold
        value_template: >-
          {{ now().timestamp() >= states.input_datetime.riscaldamento_on.attributes.timestamp | int
          and now().timestamp() <= states.input_datetime.riscaldamento_off.attributes.timestamp | int }}

bluetooth:

camera:

# Raspberry Pi Cooling Fan

climate:
  - platform: generic_thermostat
    name: RPI Cooling Fan Controller
    heater: switch.rpi_cooling_fan
    target_sensor: sensor.cpu_temperature
    min_temp: 55
    max_temp: 80
    ac_mode: true
    target_temp: 55
    cold_tolerance: 0.1
    hot_tolerance: 0.1
    min_cycle_duration:
      seconds: 30
    keep_alive:
      minutes: 5
    initial_hvac_mode: "cool"

command_line:
  - sensor:
      name: CPU Temperature
      command: "cat /sys/class/thermal/thermal_zone0/temp"
      # If errors occur, make sure configuration file is encoded as UTF-8
      unit_of_measurement: "°C"
      value_template: "{{ value | multiply(0.001) | round(1) }}"

config:

counter:
  error_counter:
    name: Errors

  daily_vacuum:
    initial: 0
    step: 1
    restore: true
    icon: mdi:counter

default_config:

dialogflow:

ffmpeg:

frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /community/custom-sidebar/custom-sidebar.js

group: !include groups.yaml

history:

http:
  cors_allowed_origins:
    - https://cast.home-assistant.io
  ip_ban_enabled: True
  login_attempts_threshold: 5
  use_x_forwarded_for: true     # To ensure HA understands that client requests come via reverse proxy
  trusted_proxies:
    - 172.30.32.0/23            # In Home Assistant we need to add the Docker subnet

ifttt:
  key: !secret ifttt

input_boolean:
  holiday:
    name: Vai in vacanza
    icon: mdi:airplane-takeoff
  cleaning_lady:
    name: Oggi c'è la Donna delle Pulizie
    icon: mdi:spray-bottle
  tende_automatiche:
    name: Tende Automatiche
    icon: mdi:auto-fix
  the_sub:
    name: The Sub ON
    icon: mdi:beer

input_datetime:
  cleaning_lady_starttime:
    name: Ora inizio Donna delle Pulizie
    has_date: true
    has_time: true
  riscaldamento_on:
    name: Avvio Riscaldamento
    has_date: true
    has_time: false
    icon: mdi:console-network
  riscaldamento_off:
    name: Chiusura Riscaldamento
    has_date: true
    has_time: false
    icon: mdi:console-network-outline

ios:

logbook:

logger:
  default: debug
  logs:
    miflora: debug
    btlewrap: debug
    bluepy: debug
    homeassistant.components.zha: debug
    zigpy: debug
    zhaquirks: debug

lovelace:

#map:

media_player:

mobile_app:

notify:

plant:
  Dracaena Warnickii:
    sensors:
      moisture: sensor.ble_moisture_dracaena_warneckii
      temperature: sensor.ble_temperature_dracaena_warneckii
      conductivity: sensor.ble_conductivity_dracaena_warneckii
      brightness: sensor.ble_illuminance_dracaena_warneckii
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 200
    max_conductivity: 1500
    min_temperature: 10
    max_temperature: 35
    min_brightness: 2000
    max_brightness: 50000

  Dracaena Marginata:
    sensors:
      moisture: sensor.ble_moisture_dracaena_marginata
      temperature: sensor.ble_temperature_dracaena_marginata
      conductivity: sensor.ble_conductivity_dracaena_marginata
      brightness: sensor.ble_illuminance_dracaena_marginata
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 1500
    max_brightness: 6000

  Zamioculcas:
    sensors:
      moisture: sensor.ble_moisture_zamioculcas
      temperature: sensor.ble_temperature_zamioculcas
      conductivity: sensor.ble_conductivity_zamioculcas
      brightness: sensor.ble_illuminance_zamioculcas
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 600
    max_brightness: 20000
    
  Zamioculcas Zamiifolia:
    sensors:
      moisture: sensor.ble_moisture_zamioculcas_zamiifolia
      temperature: sensor.ble_temperature_zamioculcas_zamiifolia
      conductivity: sensor.ble_conductivity_zamioculcas_zamiifolia
      brightness: sensor.ble_illuminance_zamioculcas_zamiifolia
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 10
    max_temperature: 32
    min_brightness: 600
    max_brightness: 20000

  Zantedeschia:
    sensors:
      moisture: sensor.ble_moisture_zantedeschia
      temperature: sensor.ble_temperature_zantedeschia
      conductivity: sensor.ble_conductivity_zantedeschia
      brightness: sensor.ble_illuminance_zantedeschia
    min_moisture: 15
    max_moisture: 60
    min_conductivity: 350
    max_conductivity: 2000
    min_temperature: 12
    max_temperature: 30
    min_brightness: 3000
    max_brightness: 50000
    
  Aloe Vera:
    sensors:
      moisture: sensor.ble_moisture_aloe_vera
      temperature: sensor.ble_temperature_aloe_vera
      conductivity: sensor.ble_conductivity_aloe_vera
      brightness: sensor.ble_illuminance_aloe_vera
    min_moisture: 7
    max_moisture: 50
    min_conductivity: 300
    max_conductivity: 1000
    min_temperature: 8
    max_temperature: 35
    min_brightness: 3000
    max_brightness: 70000

person:

recorder:
  purge_keep_days: 5
  db_url: !secret mariadb_url
  exclude:
    domains:
      - updater
      - script
    entity_globs:
      - sensor.weather_*
    entities:
      - sun.sun # Don't record sun data
      - sensor.last_boot # Comes from 'systemmonitor' sensor platform
      - sensor.date
    event_types:
      - call_service # Don't record service calls

scene: !include scenes.yaml

script: !include scripts.yaml

sensor:

spotcast:
  sp_dc: !secret sp_dc
  sp_key: !secret sp_key

switch:
#  - platform: dlink
#    host: !secret dlink_ip
#    username: !secret dlink_user
#    password: !secret dlink_pwd
  - platform: remote_rpi_gpio
    host: 192.168.0.44
    ports:
      18: RPI Cooling Fan

stream:

sun:

system_health:

system_log:
  fire_event: true

# Text to speech
tts:
  - platform: google_translate
    language: 'it'

zha:
  custom_quirks_path: /config/custom_zha_quirks/

zone:
  - name: Ronzoni
    latitude: !secret ronzoni_lat
    longitude: !secret ronzoni_long
    radius: 100
    icon: mdi:chemical-weapon

  - name: Home
    latitude: !secret home_lat
    longitude: !secret home_long
    radius: 100
    icon: mdi:home